:root {
    --blog-bg: #009c34;
    --blog-color: #ffffff;
    --pending-bg: #ffbb00;
    --pending-color: #000000
}

.Badge--blog {
    --badge-bg: var(--blog-bg);
    --badge-color: var(--blog-color);
}

.Badge--pending {
    --badge-bg: var(--pending-bg);
    --badge-color: var(--pending-color);
}